<%- partial('_partial/head') %>

<% let first_post = 'comic/001/' %>
<% let last_post = 'comic/' + page.posts.length.toString().padStart(3, '0') + '/' %>

<% page.posts.each(function(post) { %>

    <article>
      <ul>
        <% if (post.path != first_post) { %>
          <li><a href="/<%= first_post %>">&lt;&lt;</a></li>
        <% } else { %>
          <li><a class="disabled" href="#">&lt;&lt;</a></li>
        <% } %>
        <% if (post.next) { %>
          <li><a href="/<%= post.next.path %>">&lt;</a></li>
        <% } else { %>
          <li><a class="disabled" href="#">&lt;</a></li>
        <% } %>
        <li><a href="#" onClick="window.location = randomPost(); ">Random</a></li>
        <li><a class="disabled" href="#">&gt;</a></li>
        <li><a class="disabled" href="#">&gt;&gt;</a></li>
      </ul>
      <%- post.content %>
      <h1><%= post.title %></h1>
      <p>Published: <%= post.date.format('MMMM Do YYYY') %></p>
    </article>

<% }) %>
<%- partial('_partial/footer') %>
